:root {
  --main-text-color: #000000;
  --secondary-text-color: #616161;
  --main-red-color: #ec5863;
  --main-blue-color: #4285f4;
}

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
}
/* -------------------------------------------------------------------------- */
/*                                   Global Styles                            */
/* -------------------------------------------------------------------------- */

ul,
li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 1152px;
  padding: 0 59px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 44px;
  line-height: 1.26;

  color: var(--main-text-color);
}
.main-text {
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.38;
  letter-spacing: 0.08em;

  color: var(--secondary-text-color);
}

.red-accent-title {
  color: var(--main-red-color);
}
button,
btn {
  cursor: pointer;
}
.red-button {
  padding: 14px 29px;
  width: 144px;
  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;

  background-color: var(--main-red-color);
  color: #fcfdfe;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
  background-color: #fafbfd;
}
.header-container {
  display: flex;
  padding-top: 37px;
  padding-bottom: 37px;
}
.logo-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-img {
  margin-right: 5px;
}
.logo-text-start {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;

  color: var(--main-text-color);
}
.logo-text-end {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;

  color: var(--main-red-color);
}
.nav-menu {
  display: flex;

  margin-left: 218px;
}
.nav-menu-list {
  display: flex;
  align-items: center;
}

.nav-menu-item:not(:last-child) {
  margin-right: 40px;
}

.item-link {
  padding: 15px 0;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.14em;

  color: var(--main-text-color);
}

.download-button {
  position: relative;
  z-index: 30;
  padding: 14px 30px;
  margin-left: auto;

  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;

  letter-spacing: 0.14em;
  background-color: #4285f4;
  color: #ffffff;

  border-radius: 5px;
  border: none;

  transition: box-shadow 250ms ease, transform 250ms ease;
}
.download-button:hover {
  transform: scale(1.03);
  box-shadow: 0px 8px 12px 2px rgba(34, 34, 34, 0.3);
}
/* -------------------------------------------------------------------------- */
/*                                Hero section                                */
/* -------------------------------------------------------------------------- */

.hero-section {
  padding-bottom: 48px;
  background-color: #fafbfd;
}

.hero-container {
  position: relative;
  display: flex;
}

.hero-left-group {
  padding-top: 126px;
  width: 497px;
}
.hero-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 44px;
  line-height: 1.26;

  color: var(--main-text-color);
}
.title-blue-accent {
  color: var(--main-blue-color);
}

.hero-text {
  max-width: 375px;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;

  letter-spacing: 0.08em;

  color: var(--secondary-text-color);
}

.hero-button {
  padding: 14px 30px;
  margin-left: auto;
  margin-bottom: 148px;

  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;

  letter-spacing: 0.14em;
  background-color: var(--main-red-color);
  color: #ffffff;

  border-radius: 5px;
  border: none;
  transition: box-shadow 250ms ease, transform 250ms ease;
}

.hero-button:hover {
  transform: scale(1.03);
  box-shadow: 0px 8px 12px 2px rgba(34, 34, 34, 0.3);
}
.watch-video-group {
  display: flex;
  align-items: center;
}
.watch-video-text {
  margin-left: 12px;
}
.watch-video-title {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.08em;

  color: #b0b0b0;
}
.video-link {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.165em;

  color: var(--main-text-color);
}

.hero-right-group {
  padding-top: 39px;
}
.hero-img {
  position: relative;
  z-index: 20;
  transition: transform 500ms ease;
}

.hero-img:hover {
  transform: scale(1.05);
}

.hero-right-group::before {
  position: absolute;
  z-index: 1;
  display: inline-block;
  content: '';
  background-image: url(../images/hero/hero-decorate-element.svg);
  width: 295px;
  height: 700px;
  top: -114px;
  right: 0;
}

/* -------------------------------------------------------------------------- */
/*                                  Features                                  */
/* -------------------------------------------------------------------------- */

.features-section {
  padding: 79px 0;
}

.features-container {
  display: flex;
  align-items: center;
}
.features-leftside {
  padding: 56px 38px 27px 71px;
  position: relative;
}
.features-leftside::before {
  position: absolute;

  content: '';
  bottom: 1%;
  left: 10%;
  width: 77px;
  height: 77px;

  background-image: url(../images/features/small-rectangle-decor.svg);

  transition: filter 300ms ease;
}
.features-leftside:hover::before {
  filter: blur(15px);
}
.features-leftside::after {
  position: absolute;

  content: '';
  bottom: 112px;
  right: 1%;
  width: 77px;
  height: 77px;

  background-image: url(../images/features/small-rectangle-decor.svg);

  transition: filter 300ms ease;
}
.features-leftside:hover::after {
  filter: blur(15px);
}
.features-main-img {
  position: relative;
  z-index: 2;

  transition: transform 300ms ease, box-shadow 300ms ease, border-radius 300ms ease;
}
.features-main-img:hover {
  transform: scale(1.2);
  box-shadow: 0px 8px 22px 2px rgba(34, 34, 34, 0.3);
  border-radius: 16px;
}

.features-rectangle-big {
  position: absolute;
  display: block;
  z-index: 1;
  top: 1%;
  left: 0;
  transition: filter 300ms ease;
}
.features-main-img:hover + .features-rectangle-big {
  filter: blur(15px);
}

.features-rigthside {
  margin-left: 149px;
  width: 379px;
}
.features-tile {
  width: 379px;
  margin-bottom: 12px;

  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.25;
}
.features-text {
  width: 363px;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.38;
  letter-spacing: 0.08em;

  color: var(--secondary-text-color);
}
.features-text-accent {
  color: var(--main-red-color);
}
.features-button {
  transition: box-shadow 250ms ease, transform 250ms ease;
}

.features-button:hover {
  transform: scale(1.03);
  box-shadow: 0px 8px 12px 2px rgba(34, 34, 34, 0.3);
}
/* -------------------------------------------------------------------------- */
/*                                   Experts                                  */
/* -------------------------------------------------------------------------- */

.experts-section {
  position: relative;
  padding-top: 104px;
  padding-bottom: 116px;
  z-index: 50;
  background-color: #fafbfd;
}
.experts-group {
  margin-bottom: 79px;
}
.experts-count-group {
  position: relative;
  z-index: 5;

  display: flex;
  justify-content: center;
  padding: 28px 80px;

  margin-left: auto;
  margin-right: auto;
  gap: 80px;
  width: 654px;

  background-color: #ffffff;

  border-radius: 16px;

  transition: transform 250ms ease, box-shadow 250ms ease;
}
.experts-count-group:hover {
  box-shadow: 0px 2px 24px rgba(58, 58, 58, 0.3);
  transform: scale(1.04);
}

.small-rectangle {
  position: absolute;
  left: 600px;
  top: 163px;
  opacity: 1;

  /* transform: rotate(90deg); */
}

.medium-rectangle {
  position: absolute;
  left: 840px;
  top: 59px;

  /* transform: rotate(90deg); */
}

.big-rectangle {
  position: absolute;
  top: 103px;
  right: 570px;

  width: 127px;
  height: 127px;

  z-index: 2;
  transform: scale(0.5) rotate(-45deg);
}

.downscale {
  opacity: 0;
  transition: filter 250ms ease, transform 250ms ease, opacity 250ms ease;
}

.experts-group:hover .rectangles-group .small-rectangle {
  transform: scale(2);
  opacity: 0.5;
  filter: blur(9px);
}

.experts-group:hover .rectangles-group .medium-rectangle {
  transform: scale(1);
  opacity: 0.5;
  filter: blur(9px);
}

.experts-group:hover .rectangles-group .big-rectangle {
  transform: scale(1.3) rotate(-45deg);
  filter: blur(9px);
  opacity: 0.5;
}

.experts-count-text {
  position: relative;

  text-align: center;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.18;

  letter-spacing: 0.37em;
  text-transform: uppercase;

  color: #000000;
}
.experts-count-text:nth-child(1) {
  width: 62px;
}
.experts-count-text:nth-child(2) {
  width: 97px;
}
.experts-count-text:nth-child(3) {
  width: 178px;
}
.count-accent-red {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.14em;

  color: var(--main-red-color);
}

.talk-to-experts-group {
  display: flex;
  padding-left: 33px;
  padding-right: 33px;
}
.talk-to-experts-left {
  padding: 51px 0;
}
.experts-button {
  transition: background-color 250ms ease, box-shadow 250ms ease, transform 250ms ease;
}

.experts-button:hover {
  background-color: #4285f4;
  transform: scale(1.03);
  box-shadow: 0px 8px 12px 2px rgba(34, 34, 34, 0.3);
}

.experts-img {
  margin-left: 75px;

  transition: border-radius 250ms ease, box-shadow 250ms ease, transform 250ms ease;
}

.experts-img:hover {
  box-shadow: 0px 4px 18px rgb(66, 133, 244, 0.3);
  transform: scale(1.1);
  border-radius: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                  Benefits                                  */
/* -------------------------------------------------------------------------- */
.benefits-section {
  padding-top: 80px;
  padding-bottom: 57px;
}
.healthcare-title {
  text-align: center;
  margin-bottom: 14px;
}
.benefits-text {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;

  text-align: center;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 72px;

  margin-bottom: 75px;
}

.benefits-item {
  padding: 37px 25px;
  width: 278px;
  height: 276px;

  background: #ffffff;

  border-radius: 8px;

  transition: box-shadow 250ms ease, transform 250ms ease;
}
.benefits-item:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
}

.benefits-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 58px;
}

.benefits-subtitle,
.benefits-subtext {
  text-align: center;
}
.benefits-subtitle {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.08em;

  color: #000000;
}
.benefits-subtext {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.38;
  letter-spacing: 0.08em;

  color: var(--secondary-text-color);
}

.markets {
  display: flex;
  justify-content: center;
  gap: 57px;
}
.playmarket {
  transition: transform 250ms ease;
}
.playmarket:hover {
  transform: scale(1.2);
}
